<footer class="footer-area">
    <div class="footer-top-3 black-bg pt-75 pb-25">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-xl-4">
                    <div class="footer-widget mb-40">
                        <h3 class="footer-widget-title-3">Thông tin liên lạc</h3>
                        <div class="footer-info-wrapper-2">
                            <div class="footer-address-electro">
                                <div class="footer-info-icon2">
                                    <span>Địa chỉ:</span>
                                </div>
                                <div class="footer-info-content2">
                                    <p>Phố hàng bài-Hồ Gươm
                                        <br>Gần đối diện nhà sách cũ</p>
                                </div>
                            </div>
                            <div class="footer-address-electro">
                                <div class="footer-info-icon2">
                                    <span>Số điện thoại:</span>
                                </div>
                                <div class="footer-info-content2">
                                    <p>+08889999
                                        <br>+11 (251) 2223 3353</p>
                                </div>
                            </div>
                            <div class="footer-address-electro">
                                <div class="footer-info-icon2">
                                    <span>Email:</span>
                                </div>
                                <div class="footer-info-content2">
                                    <p><a href="#">nhasachHG@mail.com</a>
                                        <br><a href="#">nhasachHG@domain.info</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-xl-3">
                    <div class="footer-widget mb-40">
                        <h3 class="footer-widget-title-3">Tài khoản</h3>
                        <div class="footer-widget-content-3">
                            <ul>
                                <li><a href="login.html">Đăng nhập</a></li>
                                <li><a href="cart.html">Lịch sử giỏ hàng</a></li>
                                <li><a href="checkout.html"> LỊch sử thanh toán</a></li>
                                <li><a href="shop.html">Sản phẩm track</a></li>
                                <li><a href="register.html">Tài khoản</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-xl-2">
                    <div class="footer-widget mb-40">
                        <h3 class="footer-widget-title-3">Thông tin
                        </h3>
                        <div class="footer-widget-content-3">
                            <ul>
                                <li><a href="about-us.html">Liên hệ</a></li>
                                <li><a href="#">dịch vụ của chúng tôi</a></li>
                                <li><a href="#">kế hoạch giá cả</a></li>
                                <li><a href="#"> Chi tiết nhà cung cấp</a></li>
                                <li><a href="#">liên kết</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-xl-3">
                    <div class="footer-widget widget-right mb-40">
                        <h3 class="footer-widget-title-3">Dịch vụ</h3>
                        <div class="footer-widget-content-3">
                            <ul>
                                <li><a href="#">dịch vụ sản phẩm</a></li>
                                <li><a href="#">Dịch vụ thanh toán</a></li>
                                <li><a href="#"> Dịch vụ giảm giá</a></li>
                                <li><a href="#">Dịch vụ mua sắm</a></li>
                                <li><a href="#">Khuyến mại thêm</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-middle black-bg-2 pt-35 pb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="footer-services-wrapper mb-30">
                        <div class="footer-services-icon">
                            <i class="pe-7s-car"></i>
                        </div>
                        <div class="footer-services-content">
                            <h3>Miễn phí vận chuyển</h3>
                            <p>Miễn phí vận chuyển trên vietnam</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="footer-services-wrapper mb-30">
                        <div class="footer-services-icon">
                            <i class="pe-7s-shield"></i>
                        </div>
                        <div class="footer-services-content">
                            <h3>Đảm bảo tiền</h3>
                            <p>Miễn phí vận chuyển trên VietNam</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="footer-services-wrapper mb-30">
                        <div class="footer-services-icon">
                            <i class="pe-7s-headphones"></i>
                        </div>
                        <div class="footer-services-content">
                            <h3>Hỗ trợ trực tuyến</h3>
                            <p>Miễn phí vận chuyển trên Vietnam</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom  black-bg pt-25 pb-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-5">
                    <div class="footer-menu">
                        <nav>
                            <ul>
                                <li><a href="#">Chính sách bảo mật </a></li>
                                <li><a href="blog.html"> Tin Tức</a></li>
                                <li><a href="#">Trung tâm trợ giúp</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-6 col-md-7">
                    <div class="copyright f-right mrg-5">
                        <p>
                           
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- modal -->
<div class="modal fade" id="exampleCompare" tabindex="-1" role="dialog" aria-hidden="true">
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <span class="pe-7s-close" aria-hidden="true"></span>
    </button>
    <div class="modal-dialog modal-compare-width" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form action="#">
                    <div class="table-content compare-style table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        <a href="#">Remove <span>x</span></a>
                                        <img src="assets/img/cart/4.jpg" alt="">
                                        <p>Blush Sequin Top </p>
                                        <span>$75.99</span>
                                        <a class="compare-btn" href="#">Add to cart</a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="compare-title">
                                        <h4>Description </h4></td>
                                    <td class="compare-dec compare-common">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has beenin the stand ard dummy text ever since the 1500s, when an unknown printer took a galley</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="compare-title">
                                        <h4>Sku </h4></td>
                                    <td class="product-none compare-common">
                                        <p>-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="compare-title">
                                        <h4>Availability  </h4></td>
                                    <td class="compare-stock compare-common">
                                        <p>In stock</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="compare-title">
                                        <h4>Weight   </h4></td>
                                    <td class="compare-none compare-common">
                                        <p>-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="compare-title">
                                        <h4>Dimensions   </h4></td>
                                    <td class="compare-stock compare-common">
                                        <p>N/A</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="compare-title">
                                        <h4>brand   </h4></td>
                                    <td class="compare-brand compare-common">
                                        <p>HasTech</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="compare-title">
                                        <h4>color   </h4></td>
                                    <td class="compare-color compare-common">
                                        <p>Grey, Light Yellow, Green, Blue, Purple, Black </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="compare-title">
                                        <h4>size    </h4></td>
                                    <td class="compare-size compare-common">
                                        <p>XS, S, M, L, XL, XXL </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="compare-title"></td>
                                    <td class="compare-price compare-common">
                                        <p>$75.99 </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
