<div class="categori-menu-wrapper2 clearfix">
    <div class="pl-200 pr-200">
        <div class="categori-style-2">
            <div class="category-heading-2">
                <h3>            </h3>
              
            </div>
        </div>
        <div class="menu-style-4 menu-hover">
            <nav>
                <ul>
                    <li><a href="index.html"  onclick="scrollToTop()">Trang chủ <i class="pe-7s-angle-down"></i>
                         <!-- <span
                        class="sticker-new">hot</span>-->
                    </a> 
                <!-- <ul class="single-dropdown">
                    <li><a href="index.html">Fashion</a></li>
                    <li><a href="index-fashion-2.html">Fashion style 2</a></li>
                    <li><a href="index-fruits.html">fruits</a></li>
                    <li><a href="index-book.html">book</a></li>
                    <li><a href="index-electronics.html">electronics</a></li>
                    <li><a href="index-electronics-2.html">electronics style 2</a></li>
                    <li><a href="index-food.html">food & drink</a></li>
                    <li><a href="index-furniture.html">furniture</a></li>
                    <li><a href="index-handicraft.html">handicraft</a></li>
                    <li><a target="_blank" href="index-smart-watch.html">smart watch</a></li>
                    <li><a href="index-sports.html">sports</a></li>
                </ul> -->
            </li>
           
            <!-- <li class="active" data-filter="*"  *ngFor="let item of dsLoaiSP">
                <a (click)="locSP(item.IDLOAI)">{{item.TENLOAI}}</a></li> -->
            <li><a href="#">Loại sách <i class="pe-7s-angle-down"></i> <span
                        class="sticker-new">hot</span></a>
                <div class="category-menu-dropdown shop-menu">
                    <div class="category-dropdown-style category-common2 mb-30">
                        <h4 class="categories-subtitle"> Danh sách 1</h4>
                        <ul>
                            <li class="active" data-filter="*"  *ngFor="let item of dsLoaiSP.slice(0, 5)">
                            <!-- <a routerLink="/loaisanpham" routerLinkActive="router-link-active"  (click)="locSP(item.IDLOAI)">{{item.TENLOAI}}</a></li> -->
                            <a href="/loaisanpham" routerLinkActive="router-link-active" (click)="locSP(item.IDLOAI)">{{item.TENLOAI}}</a></li>

                            <!-- <li><a >blog 3 colunm</a></li> -->
                             <!-- <li><a href="shop-grid-2-col.html"> grid 2 column</a></li>
                            <li><a href="shop-grid-3-col.html"> grid 3 column</a></li>
                            <li><a href="shop.html">grid 4 column</a></li>
                            <li><a href="shop-grid-box.html">grid box style</a></li>
                            <li><a href="shop-list-1-col.html"> list 1 column</a></li>
                            <li><a href="shop-list-2-col.html">list 2 column</a></li>
                            <li><a href="shop-list-box.html">list box style</a></li>
                            <li><a href="cart.html">shopping cart</a></li>
                            <li><a href="wishlist.html">wishlist</a></li> -->
                        </ul>
                    </div>
                    <div class="category-dropdown-style category-common2 mb-30">
                        <h4 class="categories-subtitle"> Danh sách2</h4>
                        <ul>
                            <li class="active" data-filter="*"  *ngFor="let item of dsLoaiSP.slice(5, 10)">
                                <a href="/loaisanpham" routerLinkActive="router-link-active" (click)="locSP(item.IDLOAI)">{{item.TENLOAI}}</a></li>
                            <!-- <li><a href="product-details-2.html">tab style 2</a></li>
                            <li><a href="product-details-3.html"> tab style 3</a></li>
                            <li><a href="product-details-4.html">sticky style</a></li>
                            <li><a href="product-details-5.html">sticky style 2</a></li>
                            <li><a href="product-details-6.html">gallery style</a></li>
                            <li><a href="product-details-7.html">gallery style 2</a></li>
                            <li><a href="product-details-8.html">fixed image style</a></li>
                            <li><a href="product-details-9.html">fixed image style 2</a></li> -->
                        </ul>
                    </div>
                    <div class="mega-banner-img">
                        <a href="single-product.html">
                            <img src="assets/banner1/HoaCuQuy4_banner_310x210_2.jpg" alt="">
                        </a>
                    </div>
                </div>
            </li>
            <li><a href="/tintuc">Tin tức <i class="pe-7s-angle-down"></i> 
                <!-- <span
                        class="sticker-new"></span> -->
                    </a>
                <ul class="single-dropdown">
                    <li class="active" data-filter="*"  *ngFor="let item of dsLoaitin">
                        <a href="/tintuc"  (click)="locTinTuc(item.LoaiTinID)">{{item.TENLOAITIN}}</a></li>
                </ul>
            </li>
            <li><a href="contact.html">Liên hệ</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>