<app-slide></app-slide>
<style>
    .mr-80 {
    margin-right: 0px;
    margin-left: 80px;
}.ptb-100 {
    padding: 50px 0;
}


</style>
<div class="breadcrumb-area pt-205 pb-210" style="background-image: url(assets/img/ctav5.jpg)">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2>Chi tiết sản phẩm</h2>
            <ul>
                <!-- <li><a href="#">home</a></li>
                <li> product details </li> -->
            </ul>
        </div>
    </div>
</div>
<div class="product-details ptb-100 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-7 col-12">
                <div class="product-details-img-content">
                    <div class="product-details-tab mr-35 product-details-tab2">
                        <div class="product-details-small nav mr-80 product-details-2" role=tablist>
                           
                            <a class="active mb-10" href="#pro-details1" data-bs-toggle="tab" role="tab" aria-selected="true">
                                <img src="http://localhost:44316/photos/{{IMAGE}}" alt="">   
                            </a>
                            <a class="mb-10" href="#pro-details2" data-bs-toggle="tab" role="tab" aria-selected="true">
                                <img src="http://localhost:44316/photos/{{IMAGE1}}" alt="">   
                            </a>
                            <a class="mb-10" href="#pro-details3" data-bs-toggle="tab" role="tab" aria-selected="true">
                                <img src="http://localhost:44316/photos/{{IMAGE2}}" alt="">   
                            </a>
                            <!-- <a class="mb-10" href="#pro-details4" data-bs-toggle="tab" role="tab" aria-selected="true">
                                <img src="http://localhost:44316/photos/{{IMAGE3}}" alt="">   
                            </a> -->
                            
                        </div>
                        <div class="product-details-large tab-content">
                            <div class="tab-pane active show fade" id="pro-details1" role="tabpanel">
                                <div class="easyzoom easyzoom--overlay  is-ready">
                                    <!-- <a href="assets/img/product-details/bl1.jpg"> -->
                                        <img src="http://localhost:44316/photos/{{IMAGE}}" alt="" style="height: 400px;margin-left: 60px">
                                    <!-- </a> -->
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pro-details2" role="tabpanel">
                                <div class="easyzoom easyzoom--overlay  is-ready">
                                    <!-- <a href="assets/img/product-details/bl2.jpg"> -->
                                        <img src="http://localhost:44316/photos/{{IMAGE1}}" alt=""   style="height: 400px;margin-left: 60px" >                                     
                                      <!-- </a> -->
                                </div>
                            </div>
                            <!-- <div class="tab-pane fade" id="pro-details3" role="tabpanel">
                                <div class="easyzoom easyzoom--overlay  is-ready">
                                        <img src="http://localhost:44316/photos/{{IMAGE2}}" alt=""   >                                      
                                </div>
                            </div> -->
                            <div class="tab-pane fade" id="pro-details3" role="tabpanel">
                                <div class="easyzoom easyzoom--overlay  is-ready">
                                        <img src="http://localhost:44316/photos/{{IMAGE2}}" alt=""   style="height: 400px;margin-left: 60px" >                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-5 col-12">
                <div class="product-details-content">
                    <h3 >{{TENSP}}</h3>
                    <!-- <div class="rating-number">
                        <div class="quick-view-rating">
                            <i class="pe-7s-star red-star"></i>
                            <i class="pe-7s-star red-star"></i>
                            <i class="pe-7s-star"></i>
                            <i class="pe-7s-star"></i>
                            <i class="pe-7s-star"></i>
                        </div>
                        <div class="quick-view-number">
                            <span>2 Ratting (S)</span>
                        </div>
                    </div> -->
                    <div class="details-price">
                        <span>{{GIABAN}}</span>
                    </div>
                    <div  >
                        <!-- <select name="" id="category" class="form-control" [(ngModel)]="MALOAI">
                            <option *ngFor="let item of listCate" value="{{item.IDLOAI}}">{{item.TENLOAI}}</option>
                       </select> -->
                     <p   value="(item.IDLOAI, item.TENLOAI)">{{TENLOAI}}</p>

                     <!-- </p> class="btn btn-danger"  value="(item.IDLOAI, item.TENLOAI)"></button> -->

                    </div>
                
                    <p class="categories-title">Tên tác giả: {{TENTG}}</p>
                    <!-- <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmol tempor incidid ut labore et dolore magna aliqua. Ut enim ad minim veni quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in</p> -->
                    <div class="quick-view-select">
                        <!-- <div class="select-option-part">
                            <label>Size*</label>

                            <select class="select">
                                <option value=""></option>
                                <option value="">xl</option>
                                <option value="">ml</option>
                                <option value="">m</option>
                                <option value="">sl</option>
                            </select>
                        </div>
                        <div class="select-option-part">
                            <label>Color*</label>
                            <select class="select">
                                <option value="">- Please Select -</option>
                                <option value="">orange</option>
                                <option value="">pink</option>
                                <option value="">yellow</option>
                            </select>
                        </div> -->
                    </div>
                    <div class="quickview-plus-minus" method="post">
                        <!-- <div class="cart-plus-minus">
                            <input type="text" value="02" name="qtybutton" class="cart-plus-minus-box">
                        </div> -->
                        <div class="quickview-btn-cart">
                            <a class="btn-hover-black" type="submit" (click)="addToCart()">add to cart</a>
                        </div>
                        <div class="quickview-btn-wishlist">
                            <a class="btn-hover" href="#"><i class="pe-7s-like"></i></a>
                        </div>
                    </div>
                    <!-- <div class="product-details-cati-tag mt-35">
                        <ul>
                            <li class="categories-title">Categories :</li>
                            <li><a href="#">fashion</a></li>
                            <li><a href="#">electronics</a></li>
                            <li><a href="#">toys</a></li>
                            <li><a href="#">food</a></li>
                            <li><a href="#">jewellery</a></li>
                        </ul>
                    </div> -->
                    <!-- <div class="product-details-cati-tag mtb-10">
                        <ul>
                            <li class="categories-title">Tags :</li>
                            <li><a href="#">fashion</a></li>
                            <li><a href="#">electronics</a></li>
                            <li><a href="#">toys</a></li>
                            <li><a href="#">food</a></li>
                            <li><a href="#">jewellery</a></li>
                        </ul>
                    </div> -->
                    <P></P>
                    <div class="product-share">
                        <ul>
                            <li class="categories-title">Share :</li>
                            <li>
                                <a href="#">
                                    <i class="icofont icofont-social-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont icofont-social-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont icofont-social-pinterest"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont icofont-social-flikr"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="width: 1200px; margin: auto; margin-bottom: 30px;">
    <div class="gropu" style="width: 800px ;margin: auto;border: solid 1px; border-radius: 10px;">
    <div>
        <p style="margin-left: 10px;">Thông tin chi tiết sản phẩm</p>
        <table class="table table-striped">
           
            <tbody>
                <tr>
                    <td>Công ty phát hành</td>
                    <td>Bách Việt</td>
                </tr>
                <!-- <tr><td>Ngày xuất bản</td>
                    <td>2021-02-01 00:00:00</td>
                </tr> -->
              
                <tr>
                    <td>Tác giả</td>
                    <td>{{TENTG}}</td>
                </tr>
                <tr><td>Số lượng </td>
                    <td>{{SOLUONGTON}}</td>
                </tr>
                <tr>
                    <td>Số trang</td>
                    <td>280</td>
                </tr>
                <tr>
                    <td>Nhà xuất bản</td>
                    <td>Nhà Xuất Bản Dân Trí</td>
                </tr>
            </tbody>
        </table>  
    </div>
</div>
</div>

<div class="product-description-review-area pb-90" style="width: 1200px;margin: auto;">
    <div class="container">
        <div class="product-description-review text-center">
            <div class="description-review-title nav" role=tablist style="    width: 800px;
            margin: auto;
            background: #fbf4f4;
            border: solid 1px; border-radius: 20px;">
                <a class="active" href="#pro-dec" data-bs-toggle="tab" role="tab" aria-selected="true"  id="description">
                </a>
               
            </div>
         
        </div>
    </div>
</div>
<!-- product area start -->
<div class="product-area pb-95">
    <div class="container">
        <div class="section-title-3 text-center mb-50">
            <h2>Sản phẩm liên quan</h2>
        </div>
        <div class="product-style">
            <div class="related-product-active owl-carousel"  >
               
                <!-- chi tiet tung sap -->
                <div class="product-wrapper"  *ngFor="let item of ProductRelative"> 
                    <div class="product-img">
                        <a>
                            <img src="http://localhost:44316/Photos/{{item.IMAGE}}" alt="">
                        </a>
                        <span>hot</span>
                        <div class="product-action" method="post" >
                            <a class="animate-left" title="Wishlist" href="#">
                                <i class="pe-7s-like"></i>
                            </a>
                            <a class="animate-top" title="Add To Cart"  type="submit"  (click)="addToCartchitiet(item)">
                                <i class="pe-7s-cart"></i>
                            </a>
                            <a class="animate-right" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#">
                                <i class="pe-7s-look"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-content" style="text-align: center;">
                        <h4><a style="text-align: justify;"href="/chitiet" routerLinkActive="router-link-active"  onclick="scrollToTop()" (click)="chitiet(item) ">{{item.TENSP.substring(0,20)}}... </a></h4>
                        <span style="text-align: center;">{{item.GIABAN|number}} VNĐ</span>
                    </div>
                </div>
                <!-- <div class="product-wrapper">
                    <div class="product-img">
                        <a href="#">
                            <img src="assets/img/product/fashion-colorful/2.jpg" alt="">
                        </a>
                        <div class="product-action">
                            <a class="animate-left" title="Wishlist" href="#">
                                <i class="pe-7s-like"></i>
                            </a>
                            <a class="animate-top" title="Add To Cart" href="#">
                                <i class="pe-7s-cart"></i>
                            </a>
                            <a class="animate-right" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#">
                                <i class="pe-7s-look"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-content">
                        <h4><a href="#">Arifo Stylas Dress</a></h4>
                        <span>$115.00</span>
                    </div>
                </div>
                <div class="product-wrapper">
                    <div class="product-img">
                        <a href="#">
                            <img src="assets/img/product/fashion-colorful/3.jpg" alt="">
                        </a>
                        <span>hot</span>
                        <div class="product-action">
                            <a class="animate-left" title="Wishlist" href="#">
                                <i class="pe-7s-like"></i>
                            </a>
                            <a class="animate-top" title="Add To Cart" href="#">
                                <i class="pe-7s-cart"></i>
                            </a>
                            <a class="animate-right" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#">
                                <i class="pe-7s-look"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-content">
                        <h4><a href="#">Arifo Stylas Dress</a></h4>
                        <span>$115.00</span>
                    </div>
                </div>
                <div class="product-wrapper">
                    <div class="product-img">
                        <a href="#">
                            <img src="assets/img/product/fashion-colorful/4.jpg" alt="">
                        </a>
                        <div class="product-action">
                            <a class="animate-left" title="Wishlist" href="#">
                                <i class="pe-7s-like"></i>
                            </a>
                            <a class="animate-top" title="Add To Cart" href="#">
                                <i class="pe-7s-cart"></i>
                            </a>
                            <a class="animate-right" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#">
                                <i class="pe-7s-look"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-content">
                        <h4><a href="#">Arifo Stylas Dress</a></h4>
                        <span>$115.00</span>
                    </div>
                </div>
                <div class="product-wrapper">
                    <div class="product-img">
                        <a href="#">
                            <img src="assets/img/product/fashion-colorful/5.jpg" alt="">
                        </a>
                        <span>hot</span>
                        <div class="product-action">
                            <a class="animate-left" title="Wishlist" href="#">
                                <i class="pe-7s-like"></i>
                            </a>
                            <a class="animate-top" title="Add To Cart" href="#">
                                <i class="pe-7s-cart"></i>
                            </a>
                            <a class="animate-right" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#">
                                <i class="pe-7s-look"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-content">
                        <h4><a href="#">Arifo Stylas Dress</a></h4>
                        <span>$115.00</span>
                    </div>
                </div>
                <div class="product-wrapper">
                    <div class="product-img">
                        <a href="#">
                            <img src="assets/img/product/fashion-colorful/1.jpg" alt="">
                        </a>
                        <div class="product-action">
                            <a class="animate-left" title="Wishlist" href="#">
                                <i class="pe-7s-like"></i>
                            </a>
                            <a class="animate-top" title="Add To Cart" href="#">
                                <i class="pe-7s-cart"></i>
                            </a>
                            <a class="animate-right" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#">
                                <i class="pe-7s-look"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-content">
                        <h4><a href="#">Arifo Stylas Dress</a></h4>
                        <span>$115.00</span>
                    </div>
                </div>
                <div class="product-wrapper">
                    <div class="product-img">
                        <a href="#">
                            <img src="assets/img/product/fashion-colorful/2.jpg" alt="">
                        </a>
                        <span>hot</span>
                        <div class="product-action">
                            <a class="animate-left" title="Wishlist" href="#">
                                <i class="pe-7s-like"></i>
                            </a>
                            <a class="animate-top" title="Add To Cart" href="#">
                                <i class="pe-7s-cart"></i>
                            </a>
                            <a class="animate-right" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#">
                                <i class="pe-7s-look"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-content">
                        <h4><a href="#">Arifo Stylas Dress</a></h4>
                        <span>$115.00</span>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
